.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:10px;
    margin:10px;
    background-color: white;
}
.card-title{
    color: rgba(18, 18, 18, 0.736);
}
.add-msg{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 20px;
  color: rgba(18, 18, 18, 0.871);
  box-shadow: 0px 15px 40px rgba(1, 81, 26, 0.1);
}
.opt{
    display: flex;
    justify-content: space-between;
}
.msg_btn{
  display: flex;
  gap: 20px; 
}
.ok-btn{
    background-color: rgba(57, 215, 57, 0.939);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 60px;
    gap:10px;
    cursor: pointer;
}
.cancel-btn{
    background-color: rgba(230, 45, 45, 0.826);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.card_btn{
    display: flex;
    gap: 10px;
}
.edit-btn{
  background-color: rgba(57, 215, 57, 0.939);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    gap:10px;
    cursor: pointer;
}
.delete-btn{
      background-color: rgba(230, 45, 45, 0.826);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}
.update-btn{
  background-color: rgba(57, 215, 57, 0.939);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    gap:10px;
    cursor: pointer;
}
.exit-btn{
        background-color: rgba(230, 45, 45, 0.826);
    color: white;
    border: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 30px;
    width: 80px;
    cursor: pointer;

}