body{
    background-color: rgba(159, 213, 240, 0.608);
}
.Dropdown-content{
    width:200px;
    gap: 30px;
    display:flex;
    flex-direction: column;
    align-items:normal;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:40px;
    margin:10px;
    background-color: white;

}
.Dropdown-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100%;
}
.submit-btn{
  border-radius: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  background-color: rgb(49, 103, 184);
  color: whitesmoke;
  height: 30px;
}
.submit-btn:hover{
  transform: translateY(-2px);
  box-shadow: 5px 5px 0px rgba(1, 81, 26, 0.1);
}
.select-opt{
    padding: 5px;
    border-radius:10px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 16px;
    color: rgba(18, 18, 18, 0.549);
}
